<!DOCTYPE html>
<html>
    <head>
        <title>user login</title> 
        <link rel="stylesheet" href="css/stylelogin.css">
    </head>
    <body>
        <section>
            <div class="container">
                <div class="login-form">
                    <h1>user login</h1>
                    <form>
                        <input id="email" type="text" placeholder="Name :">
                        <input id="password" type="password" placeholder="password :">
                        <input id="login" type="submit" value="Signe In">
                    </form>
                    <a href="/worker">As Worker</a>
                </div>
            </div>
        </section>
        <script src="js/main.js"></script>
	<script src="js/login.js"></script>
    </body>
</html>