<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> welcome </title>
    <link href="https://fonts.googleapis.com/css2?family=Lalezar&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/stylee.css">
  </head> 
  <body>

    <section id="section2">
      <form  action="index.html" method="post">
        <h1> SIGN UP </h1>
        <div class="input-line">
          <input id="name" type="text" name="name" value="" placeholder="Name" >
        </div>
        <div class="input-line">
          <input id="username" type="text" name="username" value="" placeholder="username" >
        </div>
        <div class="input-line">
          <input id="email" type="text" name="email" value="" placeholder="Email" >
        </div>
        <div class="input-line">
          <input  id="password" type="text" name="password" value="" placeholder="Password" >
        </div>
        <div class="input-line">
          <input id="repassword" type="text" name="re-password" value="" placeholder="Re-password" >
        </div>
        <div class="input-line">
          <input id="phone" type="number" name="" value="" placeholder="Phone" >
        </div>
        <div class="button-div">
          <input id="signup" type="button" name="" value="Sign up" >
          <a href="/login"><input type="button" name="" value="Sign in" ></a>
        </div>
      </form>

    </section>
    <section id="section1">
      <h1> SAVE THE WORLD WITH ONE CLICK</h1>
      <a href="#"><img src="images/face.png" alt="facebook"></a>
      <a href="#"><img src="images/insta.png" alt="insta"></a>
      <a href="#"><img src="images/twitter.png" alt="twitter"></a>


    </section>

  <script src="js/mainaction.js"></script>
  </body>
</html>
