<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Lalezar&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styleelogin.css">
  </head>
  <body>
 <section>

   <form  action="index.html" method="post">
     <h1>USER LOGIN</h1>
     <input id="email" type="text" name="EMAIL" value="" placeholder="EMAIL">
     <input id="password" type="text" name="PASSWORD" value="" placeholder="PASSWORD">
     <input id="login" type="button" name="" value="SIGN IN" >
     <a href="/worker">As Worker</a>

   </form>

 </section>
 <script src="js/login.js"></script>
  </body>
</html>
