<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://fonts.googleapis.com/css2?family=Lalezar&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/workerwelcome.css">
  </head>
  <body>
    <section class="section1">
      <section >
        <img id="setimagei"  alt="user profile pic">
        <h4 id="name"> </h4>
        <h5>Worker</h5>
      </section>
      <section class="nave">
      <input id="image" type="file"  onchange="handleFiles(this.files)" aria-label="File">
    </section>
    <section class="nave">
      <input id="logout" type="button" name="" value="Logout">
    </section>

    </section>


    <section id="template" class="section2">
      <h1>All User Requests</h1>
     
      
     


    </section>


    <section id="colorlib-main" class="section3">
      <h1> Your Requests </h1>
    
       

      



    </section>
  <script src="js/welcomeworker.js"></script>
  <script src="js/workerrequest.js"></script>
  <script src="js/workerproccesrequest.js"></script>
  </body>
</html>
