<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://fonts.googleapis.com/css2?family=Lalezar&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/homepage.css">
  </head>
  <body>
    <section class="section1">
      <section >
        <img id="setimagei" alt="user profile pic">
        <h4 id="name"></h4>
        <h5>User</h5>
      </section>
      <section class="nave">
        <input id="image" type="file"  onchange="handleFiles(this.files)" aria-label="File">
      </section>
      <section class="nave">
        <input id="logout" type="button" name="" value="Logout">
      </section>


    </section>
    <section class="section2">
      <h1>Make Request</h1>
      <form  action="index.html" method="post">
        <input id="name_request" type="text" name="name" value="" placeholder="Name">
        <input id="avarge_request" type="text" name="avrage" value="" placeholder="Avarage">
        <input id="phone_request" type="text" name="phone" value="" placeholder="Phone">
        <label class="displayed">TYPE OF WASTE :</label>
        <input type="checkbox" name="paper" value="" >
        <label>Paper</label>
        <input type="checkbox" name="plastic" value="" >
        <label>Plastic</label>
        <input type="checkbox" name="wood" value="" >
        <label>Wood</label>
        <input type="checkbox" name="metal" value="" >
        <label>Metal</label>
        <input id="sendrequest" type="button" name="" value="Request Now">

      </form>

    </section>
    <section id="sectianola" class="section3">
      <h1> Requests </h1>
      

      



    </section>

<script src="js/welcome.js"></script>
<script src="js/request.js"></script>
<script src="js/prossesrequest.js"></script>
  </body>
</html>
