<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://fonts.googleapis.com/css2?family=Lalezar&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/login.css">
  </head>
  <body>

   <section>

     <form  action="index.html" method="post">
       <h1>Worker Login</h1>
       <input id="ID" type="text" name="ID" value="" placeholder="ID">
       <input id="password" type="password" name="PASSWORD" value="" placeholder="PASSWORD">
       <input id="login" type="button" name="" value="SIGN IN" >
       <a href="/login">As User</a>

     </form>

   </section>
   <script src="js/workerlogin.js"></script>


  </body>
</html>
